#body {
  font-family: "Montserrat";
}

#firstText {
  font-weight: 700;
  color: white;
  padding-bottom: 0.8rem;
  font-size: 3.5rem;
}

@media (max-width: 1028px) {
  #firstText {
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
  }
}

#title {
  background-color: #ff4c68;
  padding-top: 3rem;
  padding-bottom: 7rem;
}

/* Navigation Bar */

/* Couldn't change nothing when it was a class, so I added an ID for it */
#navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */

.downloadButton {
  margin: 5% 3% 5% 0;
}

/* Dog Image */

#dogPhone {
  padding: 0.5rem;
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  left: 6rem;
}

/*Will rotate the image to default at medium & small sized screen*/
@media (max-width: 1028px) {
  #dogPhone {
    position: static;
    transform: rotate(0);
  }
}

/* Features */

#features {
  position: relative;
  padding: 7% 15%;
  background-color: white;
}

.feature-box {
  color: #8f8f8f;
  text-align: center;
  padding: 4%;
}

/*I Swear, There's gotta be a problem with the Bootstrap that I use as even the id can be shared!!*/

/*In h3 I used this id to share properties to 3 headers*/
#h3 {
  padding-top: 1rem;
  font-size: large;
  font-weight: bold;
  color: black;
}

#icon {
  color: #ef8172;
}

#icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  padding: 7% 15%;
  background-color: #ef8172;
  font-weight: bol;
  color: #9c2602;
}

/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 7%;
}

#pressLogo {
  margin: 1rem 2rem;
  width: 15%;
}

/*Call To Action*/

#cta {
  text-align: center;
  padding-top: 7rem;
  color: #fff;
  background-color: #ff4c68;
}

.cta-heading {
  line-height: 1.5;
  font-weight: bolder;
}

.downloadButton-cta {
  margin: 2% 2% 4% 0;
}

/*Footer*/

#footer {
  padding: 8rem;
  background-color: #fff;
  text-align: center;
}

.socialIcons {
  margin-left: 30px;
}

.copyRight {
  color: gray;
  padding-top: 1rem;
}

@media (max-width: 1028px) {
  .copyRight {
    padding-top: 0.5rem;
    color: lightslategray;
  }
}
